//templates/profile.html
{% extends 'layout.html' %}
  
{% block title %}Profile{% endblock %}
  
{% block content %}
<h1>Profile Page</h1>
<div>
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert"  onclick="this.parentElement.style.display='none';" aria-label="Close">
        <span aria-hidden="true" >×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ account['name'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}