{% extends 'layout.html' %}

{% block title %}Recommendations{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>

<body>
    <h1>Recommended movies based on your reviews</h1>
    <div>
        {% for movie in movies[0] %}
        <p><i>{{movie}}</i></p>

        {% endfor %}
    </div>

</body>

</html>