{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="h2">Write a review</h1>
<p>Welcome back user {{ account['name'] }}</p>

<hr>
<form action="{{ url_for('search_movie') }}" method="post">
    <div class="form-group">
        <p>
            <b><label for="movie">Search for a movie</label></b>
        </p>

        <p>
            <input type="text" name="movie" placeholder="Enter movie name" required></input>
        </p>
        <div class="form-group ">
            <input type="submit" value="search" class="form-control btn btn-primary " name="search">
        </div>
</form>


<form action="{{ url_for('write_review') }}" method="post">
    <b><label for="movie">Pick the movie</label></b>
    <br>
    <div id="movies">
        {% for movie in movies %}
        <p><i>{{movie}}</i></p>
        <p>
            <input id="degree-1" name="movie_name" required type="radio" value="{{movie}}">
            <label for="degree-1">Select</label>
        </p>
        {% endfor %}
    </div>
    <p>
        <b><label for="review_text">Write comment</label></b>
    </p>
    <p>
        <input type="text" name="review_text" placeholder="Write your comment" required></input>
    </p>

    <div>
        <p>
            <input id="degree-0" name="rating" required type="radio" value="Liked">
            <label for="degree-0">Liked</label>
        </p>
        <p>
            <input id="degree-1" name="rating" required type="radio" value="Disliked">
            <label for="degree-1">Disliked</label>
        </p>
    </div>

    <button type="submit">Submit</button>
</form>

<hr>

<b><label for="review">Your reviews</label></b>
<div id="review" class="review">

    {% for review in reviews %}
    <div style="display: flex;">
        <b>
            <p>Title: </p>
        </b>
        <p>{{ review['name']}}</p>
    </div>
    <div style="display: flex;">
        <b>
            <p>Comment: </p>
        </b>
        <p>{{ review['review'] }}</p>
    </div>
    <div style="display: flex;">
        <b>
            <p>Rating: </p>
        </b>
        <p>{{ review['rating']}}</p>
    </div>
    <form method="DELETE" action="{{ url_for('delete_review', id=review['_id'], user_id = account['id']) }}">
        <input type="submit" value="Delete review"
            onclick="return confirm('Are you sure you want to delete this review?')">
    </form>
    <hr>
    {% endfor %}

</div>
<div id="review" class="review">
    {% for review in all_reviews %}
    <p>{{ review['name']}}</p>
</div>



</div>



{% endblock %}